@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    display:flex;
    background:#f8f9fa;
    flex-direction: column;
    align-items: center;
    font-family: "Dongle";
    background-repeat: no-repeat;
    min-height:100vh;
}
p{
    font-size: 2rem;
}
h1{
    font-size:4rem;
    
}
h4{
    font-size: 2rem;
}
.maincontinar{
    display:flex;
    flex-direction: row;
    gap:4rem;
    justify-content: center;
}
header{
margin-top:1rem;
font-size: 4rem;

}
.continar{
    background-color: #e2a5ff;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    margin: 3rem;
    border: 5px solid #f2eaff;
    border-radius: 10px;
    color:#1F2937;
    box-shadow:
    0 5px 30px #877887;
    align-items: center;
    transition: 0.2s;
}
.comtinar h1{
    font-size: 4rem;
}
.continar p{
    margin-bottom: 1rem;
}

.box{
    width: 16rem;
    height: 14rem;
    font-family: inherit;
    padding: 3rem;
    border: 0.09rem solid #e2d1ff;
    border-radius: 1rem;
    font-size: 4rem;
    background-color: #eec8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.box:hover{
    transform:translateY(-5px);
}
.box:target{
    border:0.09rem solid #1F2937;
}
.selected-btn{
 transform: translateY(-5px); 
 border: 0.2rem solid #1F2937;
 background-color: #cda6de;
}

.emotions{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 4rem;
}
.continar:hover{
    transform:translateY(-5px) ;
}

.span{
    text-align: center;
    font-size:2rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    border-radius: 1rem;
    padding-bottom: 0;
    padding-top: 0;
}
svg{
    width: 35rem;
}
ellipse{
    stroke-width: 0.09rem;
    stroke: #f2eaff;
    fill:#eec8ff;
}
rect{
    stroke-width: 0.09rem;
    stroke: #f2eaff;
    fill:#eec8ff;   
}
.continar.note{
    display: flex;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 3rem;
}
textarea{
 background-color:#f8f2ff;
 border: 0.09rem double #f2eaff; 
 border-radius: 0.5rem;  
 padding: 1rem;
 height: 10rem;
 width: 119rem;
 font-family: inherit;
 outline-color: #1F2937;
 resize:none;
 flex-wrap: wrap;
 font-size: 3rem;
}
.savebtn{
background-color: #f8f9fa;
font-family: inherit;
border: none;
font-size: 3rem;
font-weight: 500;
border-radius: 1rem;
padding:0.5rem;
margin-bottom: 2rem;
margin-top: 2rem;
color: #1F2937;
box-shadow: 0 4px 10px rgba(59, 45, 84, 0.2);
width:129rem;
transition: 0.2s;
}
.savebtn:hover{
    transform: translateY(-5px);
    border: 0.2rem solid #1F2937;
    color: #1f2937c4;
    cursor: pointer;
}
.continar.entriesData{
    width: 80%;
}
.pastEnteryStyle{
    background-color: #f2eaff;
    border: 0.2rem solid #1F2937;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom:1.5rem;
    align-items: start;
    width:90%;
    display: flex;
    flex-direction:row;
    gap:2rem;
    align-items: center;
}
.emojiDiv{
background-color: none;
width: 8rem;
font-size: 7rem;
}
.pastEntry1{
    text-align: center;
}
.linkbtn.savebtn {
    margin-top: 0px;
} 
input[type="range"]{
    width:70%;
}
.moodrangelabel{
    font-size:3rem;
    margin-top:4rem;
}
@media (max-width: 1440px) {
    html{ font-size: 47%;}
    
}
@media (max-width:1024px) {
    html{ font-size: 35%;}
}
@media (max-width: 768px) {
    html{font-size: 40%;}
    .maincontinar{
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
        margin: 0%;
    }
    .savebtn{
        width:70rem;
    }
    textarea{
        width: 60rem;
    }

}
@media (max-width:485px) {
    html{font-size:30%;
    }
}
@media (max-width:320px){
    html{font-size:25%;}
}